@use "sass:color";
@use "../../vars.scss" as *;

.task-form {
    @include flex-center();
    position: relative;
    width: 80vw;
}

.inputButton{
    position: absolute;
    right: 13px;
}

.button-input {
    @include input-field($rounding, $color-bg-2);

    flex-grow: 2;
}

.button-input:focus ~ .input-focus-border {
    height: 55%;
    width: 100%;
}

.input-focus-border {
    @include input-field-focus-border($rounding + 2px, $color-accent-1);
}