@use "sass:color";
@use "../../vars.scss" as *;

.task-form {
    @include flex-center();
    position: relative;
    width: 80vw;

    margin: 10px;
}

.inputButton{
    position: absolute;
    right: 13px;
}

.button-input {
    @include input-field($rounding, $color-bg);

    width: 100%;
}

.button-input::placeholder {
    color:  $color-text-1;
    opacity: 1;
}

.button-input:focus ~ .input-focus-border {
    height: 50%;
    width: 100%;
}

.input-focus-border {
    @include input-field-focus-border($rounding, $color-accent-1);
}