@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: 'src/assets/fonts/ProductSans-Medium.ttf';
  }

  @media (prefers-color-scheme: dark) {
    $color-bg: #212121 !global;
    $color-bg-2: #424242 !global;
    $color-accent-1: #0012D7 !global;
    $color-text-1: #fff !global;
    $color-text-2: #bbb !global;
  }

  //Variables
  @media (prefers-color-scheme: light) {
    $color-bg: #fff !global;
    $color-bg-2: #fff !global;
    $color-accent-1: #0012D7 !global;
    $color-text-1: #212121 !global;
    $color-text-2: #757575 !global;
  }
  
  $font: "Product Sans", sans-serif;
  $font-size: 24px;
  
  $rounding: 10px;
  
@mixin flex-center() {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-left() {
    @include flex-center();
    justify-content: flex-start;
}

@mixin input-field($rounding, $color) {
    align-items: center;

    background: $color;

    padding: 15px 13px;
    margin-bottom: 3px;

    outline: none;
    border-radius: $rounding;
}

@mixin input-field-focus-border($rounding, $color) {
    position: absolute;

    background: $color;

    border-radius: 0 0 $rounding $rounding;

    bottom: 0;
    left: 50%;
    width: 0%;
    height: 0%;
    z-index: -1;
    transition: height 0.3s, width 0.3s 0.1s;
    transform: translate(-50%, 0);
}

